body {
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
}

/*header*/
.header__inner {
  max-width: 1200px;
  margin: auto;
  width: 80%;
  padding: 70px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.header__item {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
  color: #000000;
}

/*footer__*/
.footer__content {
  margin-bottom: 100px;
  background-color: #000000;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.footer__title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.footer__form {
  display: flex;
  width: 400px;
  margin: auto;
}

.footer__in {
  background-color: #fff;
  width: 300px;
  border-radius: 0;
  border: none;
  height: 40px;
}

.footer__sub {
  background-color: #E40065;
  font-weight: bold;
  width: 100px;
  border: none;
  border-radius: 0;
  height: 40px;
  color: #fff;
}

.footer__list {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.footer__list .item {
  padding: 0 20px;
  border-right: 1px solid #fff;
  line-height: 1em;
}

.footer__list .item:last-of-type {
  border: none;
}

.footer__cr {
  font-size: 12px;
  text-align: right;
  color: #898989;
}

.footer__inner {
  max-width: 1200px;
  margin: auto;
  width: 80%;
  background-color: #fff;
  padding: 0 0 60px;
}

/*_unit_*/
.unit__right {
  width: 59.8290598291%;
}

.unit__catch {
  font-size: 12px;
}

.unit__title {
  font-size: 38px;
  font-weight: normal;
  line-height: 1.2894736842em;
  margin-bottom: 30px;
}

.unit__border {
  background-color: #000000;
  width: 120px;
  height: 1px;
  margin-bottom: 60px;
}

.unit__txten {
  font-style: italic;
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
}

/*__card__*/
.card__img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.card__title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.card__catch {
  font-size: 12px;
  color: #898989;
}

.card__txt {
  margin-top: 40px;
}

/*__union__*/
.union {
  font-family: "Yu Gothic";
}

.union__title {
  font-size: 20px;
  line-height: 1.7em;
  font-weight: normal;
  margin-top: 30px;
}

.union__img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.union__bg {
  width: 100%;
  height: 529px;
}

.union__ab {
  position: absolute;
  top: 150px;
  left: 80px;
}

.union__list {
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
}

.union__list .item {
  margin-bottom: 15px;
}

/*__btn__*/
.btn {
  font-family: "Yu Gothic";
  background-color: #E40065;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 5px 13px;
  width: auto;
}

/*_______index*/
.visual {
  margin-bottom: 100px;
}

.visual__img {
  width: 100%;
  height: auto;
}

/*works*/
.works {
  padding-bottom: 78px;
}

.works__inner {
  max-width: 1200px;
  margin: auto;
  width: 80%;
}

.works__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
}

.works__itme {
  width: 31.6239316239%;
}

/*project___*/
.project {
  background-color: #FDF8EB;
  padding: 100px 0;
}

.project__inner {
  max-width: 1200px;
  margin: auto;
  width: 80%;
}

.project__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
}

.project__item {
  width: 47.8632478632%;
}

/*______COMPANY___*/
.company {
  padding: 100px 0;
}

.company__inner {
  max-width: 1200px;
  margin: auto;
  width: 80%;
}

.company__unit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: flex-start;
}

.company__item {
  color: #fff;
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  height: 529px;
}

.company__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.company__item2 {
  width: 31.6239316239%;
}

/*# sourceMappingURL=style.css.map */